*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.container__body{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://img.freepik.com/vetores-premium/ilustracao-de-desenho-animado-de-escritorio-com-mesa_682303-496.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    z-index: -1;
    

}


.container__form{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    justify-content: center;
    gap: .5em;
    margin-top: 1em;
    
}

.container__form input, select{
    width: 100%;
    border-radius: .5em;
    padding: .5em;
    border: 2px solid black;
    font-size: 1em;

}

.container__form select{
    text-align: center;
}

.container__form button{
    padding: 1em;
    border-radius: .5em;
    font-size: 1em;
}

.container__form button:hover{
    background-color: aqua;
    border: none;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
}

.container__form input:focus, .container__form select:focus{
    background-color: aqua;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    box-shadow: 10px 5px rgba(0, 0, 0, 0.6);
    
}