*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-image: url("https://img.freepik.com/vetores-premium/ilustracao-de-desenho-animado-de-escritorio-com-mesa_682303-496.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}


.container__form{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    justify-content: center;
    gap: .5em;
    margin-top: 1em;
    margin: 0 auto;
}

.container__form input, select{
    width: 100%;
    border-radius: .5em;
    padding: .5em;

}

.container__form select{
    text-align: center;
}

.container__form button{
    padding: 1em;
    border-radius: .5em;
}